@import url('https://fonts.googleapis.com/css?family=Arsenal:400i,700i');
@import url('https://fonts.googleapis.com/css?family=PT+Mono');
body{
	background: #000; margin: 0px; padding: 0px;
	color: #fff; 
  overflow-x: hidden;
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern";
	font-kerning: normal;
	-moz-font-feature-settings:"onum" 1, "tnum" 1, "frac" 1, "kern" 1, "liga" 1; 
	-moz-font-feature-settings:"onum=1, tnum=1, frac=1, kern=1, liga=1"; 
	-ms-font-feature-settings:"onum" 1, "tnum" 1, "frac" 1, "kern" 1, "liga" 1; 
	-o-font-feature-settings:"onum" 1, "tnum" 1, "frac" 1, "kern" 1, "liga" 1; 
	-webkit-font-feature-settings:"onum" 1, "tnum" 1, "frac" 1, "kern" 1, "liga" 1; 
	font-feature-settings:"onum" 1, "tnum" 1, "frac" 1, "kern" 1, "liga" 1;}

h1{
	color: #ff00ff;
	text-align: center;
	font-size: 70px;
	font-weight: 700;
	text-shadow: 1px 1px 2px #FF0000, 0 0 25px #FF0000, 0 0 5px #FF0000;
	z-index: 12;
	}
#title{
	color: #ff00ff;
	font-family: 'Arsenal', sans-serif;
	position: fixed;
	top: 8%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.title{
	color: #ff00ff;
	font-family: 'Arsenal', sans-serif;
	font-weight: 700;
	text-shadow: 1px 1px 2px #FF0000, 0 0 25px #FF0000, 0 0 5px #FF0000;
}
p{	font-family: 'PT Mono', monospace;
	font-size: 21px;
	font-weight: 400;
	line-height: 35px;
	z-index: 21;
	max-width: 500px;
	margin-top: 200px;
	margin-bottom: 200px;
	margin-left: 400px;
}
.full-width{
  background-color: #00f0ff;
  width: 100%;
  padding-top: 400px;
  padding-bottom: 400px;
  margin: 0 auto;

}
.wide-inner{
  width: 700px;
  text-align: center;
  font-family: 'PT Mono', monospace;
  font-size: 21px;
  font-weight: 400;
  line-height: 35px;
  margin: auto;
}
p:nth-child(even){
	margin-left: 50px;
}
.content{
	width: 900px;
	margin: 0 auto;
}
.bodycopy{
	margin-top: 300px;
  margin-bottom: 300px;
}
.bodycopy:first-child{
  margin-top: 800px;
}
a {
  color: #ff00ff;
}
a:hover {
	color: #0000FF;
	text-shadow: 1px 1px 2px #0000FF, 0 0 25px #0000FF, 0 0 5px #0000FF;
}
#ellipsis{
	padding: 300px;
	text-align: center;
}
.hi iframe{
	margin-left: 150px;
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  margin-top: 50px;
  width: 100%;
  height: 100%;
  
  .hi {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    color: #fff;
    
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    
    span {
      color: #ff0;
      cursor: pointer;
      text-decoration: underline;
    }
    
    em {
      font-style: normal;
      
      &.hidden {
        display: none;
      }
    }
  }
}
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}
.tv {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  overflow: hidden;
  
  .screen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    margin: auto;

    opacity: 0;
    transition: opacity .5s;

    &.active {
      opacity: 1;
    }
  }
}
#music{
	position: fixed;
	top: 10px;
	right: 20px;
}